<h1>商品編集</h1>
<%= form_with model: @item, url:admins_items_path, local:true do |f| %>
<table>
  <tr>
    <th>商品画像</th>
    <td><%= f.attachment_field :image %></td>
  </tr>
  <tr>
    <th>商品名</th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th>商品スペック</th>
    <td><%= f.text_area :item_spec %></td>
  </tr>
  <tr>
    <th>商品価格</th>
    <td><%= f.number_field :price %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td></td>
  </tr>
  <%= f.submit '変更を保存' %>
  <% end %>
</table>