<div class="container">
  <div class="row">
    <%= render 'end_users/items/sidebar', genres: @genres %>
    <div class="col-lg-8 offset-1">

      <table class="table text-light">
        <thead>
          <tr>
            <th>製品名</th>
            <th>製品画像</th>
            <th>価格帯</th>
            <th>スペック</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <th>
            <%= link_to end_users_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
            <div id="star-<%= item.id %>"></div>
            <div>
              ユーザー評価：
              <%= link_to end_users_item_path(item.id) do %>
                <%= item.comments.count %>
              <% end %>
              件
            </div>
            </th>
            <td>
              <%= link_to end_users_item_path(item.id) do %>
                <%= attachment_image_tag item, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
              <% end %>
            </td>
            <td><%= item.price %>円～</td>
            <td><%= item.item_spec %></td>
          </tr>
        </tbody>
        <% end %>
    </table>
    <script>
      <% @items.each do |item| %>
      $('#star-<%= item.id %>').raty({
        size: 36,
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true,
        score: <%= item.comments.average(:rate).to_f.round(1) %>,
        half: true,
      });
      <% end %>
    </script>
    </div>
  </div>
</div>
