<%= render 'end_users/items/sidebar', genres: @genres %>
<h1>商品詳細</h1>
<div>
  製品画像：
  <% if @item.favorited_by?(current_user) %>
    <%= link_to 'お気に入りリスト追加済み', end_users_item_favorite_path(@item.id), method: :delete %>
  <% else %>
    <%= link_to 'お気に入りリストに追加', end_users_item_favorites_path(@item.id), method: :post %>
  <% end %>
</div>
<table>
  <tr>
    <td>製品名：<%= @item.name %></td>
  </tr>
  <tr>
    <td>価格帯：<%= @item.price %></td>
  </tr>
  <tr>
    <td>製品スペック：<%= @item.item_spec %></td>
  </tr>
</table>
<% @item.comments.each do |item_comment| %>
<table>
  <tr>
    <td><%#= item_comment.user.name %></td>
    <td><%= item_comment.comment %></td>
  </tr>
</table>
<% end %>
<%= form_with(model:[@item, @item_comment], url:end_users_item_comments_path(@item.id), local: true) do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit 'コメントする' %>
<% end %>