<%= render 'end_users/items/sidebar', genres: @genres %>
<h1>商品詳細</h1>
<div id="favorite_bottons_<%= @item.id %>">
  <%= render 'end_users/items/favorite', item: @item %>
</div>
<table>
  <tr>
    <td>製品名：<%= @item.name %></td>
  </tr>
  <tr>
    <td>価格帯：<%= @item.price %></td>
  </tr>
  <tr>
    <td>製品スペック：<%= @item.item_spec %></td>
  </tr>
</table>
<% @all_ranks.each.with_index(1) do |item, i| %>
  第
  = i
  位
  <%= item.name %>
<% end %>
<% @item.comments.each do |item_comment| %>
<table>
  <tr>
    <td><%#= item_comment.user.name %></td>
    <td><%= item_comment.comment %></td>
  </tr>
</table>
<% end %>
<%= form_with(model:[@item, @item_comment], url:end_users_item_comments_path(@item.id), local: true) do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit 'コメントする' %>
<% end %>